<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/title') %>
  </head>
  <body
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      margin: 0;
    "
  >
    <h1>Login</h1>
    <form
      action="/auth/login"
      method="post"
      style="
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
      "
    >
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="password" name="password" />
      <input
        type="submit"
        value="Login"
        style="margin-top: 30px; width: fit-content; align-self: center"
      />
    </form>
  </body>
</html>
