<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Testing Bro <%= locals.test || "defaultnya" %></h1>

    <% for(let i = 0; i<5;i++){ %>
    <h1>Misal</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium vel
      consequuntur, ullam sed earum quo dignissimos aut deserunt repellendus
      laudantium. Fugit ipsam voluptates nesciunt molestias commodi optio magni
      eum tenetur!
    </p>
    <%}%>
  </body>
</html>
